{{ define "main" }}

<!-- end of tools-use -->
<!-- start of image-info -->
{{ if .Params.about.enable }} {{ with .Params.about }}
<!-- <section class="pb-50" data-aos="fade-in">
    <div class="col-xl-16">
        {{ .title | markdownify}}
    </div>
    <div class="col-xl-16 about-box" style="padding: 0 10%;">
        <div style="font-weight: 400;font-size: 15px;margin-top:48px;">
            <p> 北京安全共识科技有限公司（简称：火线安全）成立于2020年，是新一代的云安全公司。 公司基于技术社区打造高质量的安全产品与服务，助力企业用户解决上云过程中的安全问题。
            </p>
            <p>公司是国家信息安全漏洞库支撑单位，Linux、CNCF、NextArch等国际基金会及CSA云安全联盟成员，拥有超过50项知识产权并通过了ISO9001、27001、CCRC认证，ICP和等级保护三级备案。公司还先后获得“国家高新技术企业”、“新锐技术先锋企业”、“网络安全百强”等荣誉。</p>
            <p>公司提供的产品和服务有「火线众测」及「洞态IAST」。</p>
            <p>「火线众测」拥有超过1万名实名安全工程师，可针对企业的在线业务开展持续的安全测试，避免因漏洞带来的入侵及数据安全风险，服务效果及口碑业内领先。</p>
            <p>「洞态IAST」是全球首个开源的IAST产品，可为DevOps用户提供上云前的自动化应用安全测试能力，将软件漏洞在开发测试阶段解决，避免漏洞被发布到线上环境。洞态IAST自发布以来已拥有数百家企业级用户，用户数量遥遥领先。</p>
            <p>截止2022年，公司已同自然资源部、中国银行、腾讯、字节跳动、美团、京东、快手等众多知名机构和企业建立合作，并先后获得了包括奇绩创坛、经纬中国、五源资本等知名投资机构投资。</p>
        </div>
    </div>
    </div>
</section> -->

<!-- <section class="section-padding image-info-section has-shapes bg-light-gray has-bg-brash bg-brash-y" style="background-image: url('{{`images/brushes/section-top.svg` | absURL}}'), url('{{`images/brushes/section-bottom.svg` | absURL}}');" data-aos="fade-in">
    <div class="col-xl-16">
        <h2 class="section-title" style="text-align:center;margin: 36px 0">联系我们
        </h2>
        <div class="com-list-box">
            <div class="com-card border">
                <div class="com-img">
                    <img src="{{.bj | absURL}}" style="width: 100%;">
                </div>
                <div class="com-title">火线安全 北京总部</div>
                <div class="com-list">
                    <span class="icon"><img width="14" height="14" src="{{.phone | absURL}}" alt=""></span>
                    <span class="label">电话:</span>
                    <span class="value">010-82772660 199 1038 6797</span>
                </div>
                <div class="com-list">
                    <span class="icon"><img width="14" height="14" src="{{.email | absURL}}" alt=""></span>
                    <span class="label">邮箱:</span>
                    <span class="value">hi@huoxian.cn</span>
                </div>
                <div class="com-list">
                    <span class="icon"><img width="14" height="14" src="{{.wechat | absURL}}" alt=""></span>
                    <span class="label">微信:</span>
                    <span class="value">huoxiandongtai</span>
                </div>
                <div class="com-list">
                    <span class="icon"><img width="14" height="14" src="{{.place | absURL}}" alt=""></span>
                    <span class="label">地址:</span>
                    <span class="value">北京市海淀区上地东路35号颐泉汇C座3层</span>
                </div>
            </div>
            <div class="com-card border">
                <div class="com-img">
                    <img src="{{.sh | absURL}}" style="width: 100%;">
                </div>
                <div class="com-title">火线安全 上海</div>
                <div class="com-list">
                    <span class="icon"><img width="14" height="14" src="{{.phone | absURL}}" alt=""></span>
                    <span class="label">电话:</span>
                    <span class="value">010-82772660 199 1038 6797</span>
                </div>
                <div class="com-list">
                    <span class="icon"><img width="14" height="14" src="{{.place | absURL}}" alt=""></span>
                    <span class="label">地址:</span>
                    <span class="value">上海市黄浦区河南南路33号新上海城市广场19层</span>
                </div>
            </div>
            <div class="com-card border">
                <div class="com-img">
                    <img src="{{.sz | absURL}}" style="width: 100%;">
                </div>
                <div class="com-title">火线安全 深圳</div>
                <div class="com-list">
                    <span class="icon"><img width="14" height="14" src="{{.phone | absURL}}" alt=""></span>
                    <span class="label">电话:</span>
                    <span class="value">010-82772660 199 1038 6797</span>
                </div>
                <div class="com-list">
                    <span class="icon"><img width="14" height="14" src="{{.place	 | absURL}}" alt=""></span>
                    <span class="label">地址:</span>
                    <span class="value">深圳市南山区高新南一道008号创维大厦C座8层</span>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="pb-50" data-aos="fade-in">
    <h2 class="section-title" id="user" style="text-align:center;margin: 36px 0;">用户案例
    </h2>
    {{- range .userList}}
    <div style="padding: 0 10%;">
        <div class="user-card" onclick="window.open('{{.link}}','_blank')">
            <span class="img"><img src="{{.img | absURL}}" alt=""></span>
            <span>{{.content}}</span>
        </div>
    </div>

    {{- end}}
    <div></div>
</section>


<style>
    .about-box p {
        margin-bottom: 20px;
    }
    
    .com-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: -10px;
    }
    
    .com-list-box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .com-list {
        display: flex;
        padding: 8px 24px;
        font-size: 12px;
        align-items: flex-start;
    }
    
    .com-list span {
        margin-right: 12px;
    }
    
    .com-list .label {
        width: 32px;
    }
    
    .com-list-box .com-card {
        margin: 0 12px;
        width: 364px;
        height: 454px;
        background: #fff;
    }
    
    .com-title {
        padding: 24px;
    }
    
    .user-card {
        background-color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 24px;
        gap: 32px;
        border: 1px solid #DEE2E6;
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin-bottom: 24px;
        cursor: pointer;
    }
    
    .user-card:hover {
        background: #EAEAEA;
        border: 1px solid #DEE2E6;
        border-radius: 4px;
        text-decoration-line: underline;
        /* 2 */
        color: #33A9AC;
    }
    
    .user-card .img {
        display: inline-block;
        width: 120px;
    }
    
    .user-card .img img {
        height: 24px;
    }
</style>
{{ end }} {{ end }} {{end}}